.lessonList {
  float: left;
  background-color: darkcyan;
  width: 48%;
  margin-top: 2%;
  margin-left: 1%;
  text-align: center;
}

.lessonForm {
  float: right;
  background-color: darkcyan;
  width: 48%;
  margin-top: 2%;
  margin-right: 1%;
}

.lessonForm h4 {
  text-align: center;
}

.lessonCard {
  margin: 2%;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
