.lessonDetailHeader {
  float: left;

  width: 100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.lessonDetailHeader h4 {
  float: left;

  width: 30%;
  margin-left: 1%;
  color: black;
}

.lessonDetailHeader .lsnbtn {
  float: center;

  width: 30%;
  margin-right: 1%;
}

.lessonDetailHeader .docbtn {
  float: right;

  width: 30%;
  margin-right: 1%;
}

.lessonNotes {
  width: 100%;
}

.planningNote {
  float: left;
  width: 48%;
  margin-top: 2%;
  margin-left: 1%;
  text-align: center;
  /* border-style: solid; */
}

.plan {
  border-style: solid;
  border-color: gray;
  border-radius: 2%;
  text-align: left;
  white-space: pre-line;
}

.studentAssignment {
  float: right;
  width: 48%;
  margin-top: 2%;
  margin-right: 1%;
  text-align: center;
}

.assignment {
  border-style: solid;
  border-color: gray;
  border-radius: 2%;
  text-align: left;
  white-space: pre-line;
}

.lessonNotes textarea {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 1%;
  color: black;
  font-size: 18px;
}

.lessonNotes p {
  text-align: center;
}

.btn {
  margin: 5px, 5px;
}

.previousLesson {
  float: left;
  width: 48%;
  margin-top: 5%;
  margin-left: 1%;
  text-align: center;
  /* border-style: solid; */
}

.previousAssignment {
  float: right;
  width: 48%;
  margin-top: 5%;
  margin-right: 1%;
  text-align: center;
}

/* .previousInfo {
  margin-top: 2%;
} */
