.login-form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5em;
}

.form-link {
  display: flex;
  justify-content: center;
}

.redirect-text {
  padding-top: 1em;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.dropbutt {
  margin-top: 0;
}
.downloadCont {
  max-width: 5%;
}
.iconLink {
  margin-left: 22%;
}
