.login-form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5em;
}

.form-link {
  display: flex;
  justify-content: center;
}

.redirect-text {
  padding-top: 1em;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.dropbutt {
  margin-top: 0;
}
.docdel {
  margin-top: 0;
}
.downloadCont {
  max-width: 5%;
}
.iconLink {
  margin-left: 22%;
}
.musicTitle {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 60px;
}

.musicbirdcontlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.birdiconmusic {
  margin-left: 40px;
}

.studioCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.dropdown-menu {
  height: 205px;
  overflow-y: scroll;
}
