/* Styling for Nav */

.bg-general {
  background-color: #27292a;
  color: #f4d325;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f4d325 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f5f5f5 !important;
}

.navbar-dark .navbar-brand {
  color: #f5f5f5;
}
.logo {
  max-width: 150px;
}

.navlinks {
  padding-top: 25px !important;
}
