@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

.stu-header {
  padding: 2em;
  border-bottom: 3px solid black;
}

.stu-header p {
  margin-bottom: 0em;
}

.stu-body {
  padding: 2em;
}

.empty-p {
  font-size: 0.9rem;
  font-style: italic;
}

.add-lesson-div {
  margin-bottom: 3.5em;
}

.studentDetailHeaderCont {
  display: flex;
  flex-direction: column;
}

.studentRemove {
  width: 150px;
  margin-left: 80%;
}
