.studentTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.studentListBody {
  margin-left: 20%;
  margin-right: 20%;
}

.BUTT {
  margin-top: 0;
}
.maya {
  max-width: 5%;
}
.iconLink {
  margin-left: 22%;
}
