* {
  overflow-x: hidden;
}

body {
  background-color: #fefefe;
  color: #27292a;
}

/* Styling for Buttons */

.btn-general {
  background-color: #f4d325;
  color: #27292a;
  font-weight: 500;
}

.btn-general:hover {
  background-color: #e4c521;
  color: #27292a;
  font-weight: 500;
}

.btn-general::selection {
  background-color: #f4d325;
  color: #27292a;
  font-weight: 500;
  border: 5px solid rgba(249, 168, 38, 0.5);
}

.btn-gray {
  background-color: #e6e6e6;
  color: #27292a;
  font-weight: 500;
}

.btn-gray:hover {
  background-color: #cccccc;
  color: #27292a;
  font-weight: 500;
}

.btn-alert {
  background-color: #9dacff;
  color: #27292a;
  font-weight: 500;
}

.btn-alert:hover {
  background-color: #919ee1;
  color: #27292a;
  font-weight: 500;
}

.btn-destroy {
  background-color: #ff819a;
  color: #27292a;
  font-weight: 500;
}

.btn-destroy:hover {
  background-color: #e46c84;
  color: #27292a;
  font-weight: 500;
}

/* Styling for cards */

.card {
  margin-top: 1.5em;
}
.card-list {
  margin-bottom: 1.5em;
}

.header-gray {
  background-color: #e6e6e6;
}

.cd-body {
  background-color: #f5f5f5;
}

/* Styling for icons */
i {
  color: #9dacff;
}

/* Styling for links */

a {
  color: #27292a;
}

a:hover {
  color: #f4d325;
}

/* Styling for Errors */

.error-div {
  background-color: rgba(255, 129, 154, 0.3);
  font-size: 0.8rem;
  font-style: italic;
}

.error-div p {
  margin-bottom: 0;
  margin-top: 0;
}

/* Card-header alert */

.card-header.alert {
  margin-bottom: 0;
  padding: 0.5em, 1em, 0.5em, 1em;
  background-color: rgba(157, 172, 255, 0.5);
}

/* Modal Styling */

.modal-header {
  background-color: rgba(157, 172, 255, 0.5);
}

.input-group-text.mb-3 {
  padding: 0;
}

.modal-img {
  max-width: 100%;
}

/* Contains bird pngs to their container */

.bird {
  max-width: 100%;
}

/* Lesson Detail Cards */

.card-header.lesson-plan {
  background-color: #27292a;
  color: #f5f5f5;
  padding-top: 1em;
}

.card-header.assignment-form {
  background-color: rgba(157, 172, 255, 0.5);
  color: #27292a;
  padding-top: 1em;
}

textarea.form-control.lesson-detail {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}

.btn.btn-general.lesson-plan {
  margin-left: 1em;
  margin-right: 1em;
}

.btn.btn-alert.lesson-detail {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.body-item-lesson-det h5 {
  background-color: #e6e6e6;
  padding: 1em;
}
